h1, h2 {
  color: rgb(153, 0, 0);
  padding: 30px;
}

#uploads {
  background-color: rgb(153, 0, 0);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#uploads:hover {
  background-color: rgb(153, 100, 100);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

#login {
  background-color: rgb(153, 0, 0);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#login:hover {
  background-color: rgb(153, 100, 100);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

#logout {
  position: absolute;
  top: 25px;
  right: 10px;
}

#backBtn {
  position: absolute;
  top: 25px;
  right: 10px;
}

#header {
  background-color: rgb(153, 0, 0);
  height: 10px;
  top: 5px;
  right: 5px;
  left: 5px;

}

#footer {
  background-color: rgb(153, 0, 0);
  height: 50px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
}

#logo {
  width: 100px;
  height: 100px;
  padding: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#loginBox {
  width: 300px;
  border: solid 1px rgb(153, 0, 0);
  margin: auto;
}

#loginTop {
  background-color: rgb(153, 0, 0);
  color: #FFFFFF;
  padding: 5px;
}

#loginInnerBox {
  margin: 30px;
  text-align: left;
  color: rgb(153, 0, 0);

}

#loginSubmit {
  background-color: rgb(153, 0, 0);
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#loginSubmit:hover {
  background-color: rgb(153, 100, 100);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}lor: rgb(153, 100, 100);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}